name: deploy

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build Vue app
        run: npm run build

      - name: Copy build files to servers
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
          SERVER_PATH: ${{ secrets.SERVER_PATH }}
        run: |
          echo -e "$SSH_PRIVATE_KEY" > ssh_key
          chmod 600 ssh_key
          
          # Create the .ssh directory and set permissions
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          
          # Add server to known_hosts to avoid host verification prompt
          ssh-keyscan -H "$SERVER_IP" >> ~/.ssh/known_hosts
          
          # Transfer files to the server
          scp -i ssh_key -o StrictHostKeyChecking=no -r dist/* root@$SERVER_IP:$SERVER_PATH
          
          # Clean up the private SSH key
          rm ssh_key